<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="cochat" value="https://nuget.pkg.github.com/baranhakanozdemir/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <cochat>
      <add key="Username" value="plusteam-ai-dev-e" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN_FEED%" />
    </cochat>
  </packageSourceCredentials>
</configuration>
